@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

body {
  background-color: lightblue;
}

.card {
  background-color: lightcoral;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 25px;
}

h2, h3 {
  position: relative;
font-family: 'Archivo', sans-serif;
text-align: center;
top: 25%;
user-select: none;
}

.game-buttons {
  display: inline-flex;
  flex-wrap: wrap;
}

h1, p {
  font-family: 'Archivo', sans-serif;
  cursor: default;
  user-select: none;
}

img {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: lightseagreen;
}

::-webkit-scrollbar-track {
  background: oldlace;
}

#credits{
position: absolute; 
bottom: 5px; 
margin-left: auto;
margin-right: auto;

}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:active {
  color: black;
}

.smaller-text {
  font-size: small;
}

h3{
  position:relative;
  top:10%;
}
